<form class="" action="/albums" method="post">
  <%= authenticate_form %>
  <label for="album name">Album Name</label>
  <input type="text" name="album_name" value="album[name]">
  <label for="band">Band</label>
  <select class="" name="album[band]">
    <% @bands.each do |band| %>
    <option value="<%=band.id%>"><%= band.name %> <%= @band.id == band.id ? "selected" : "" %></option>
    <% end %>
  </select>
</form>
