<form class="" action="/bands" method="post">
  <label for="band_name">Band Name</label>
  <%= authenticate_form %>
  <input type="band_name" name="band[name]" value="">
  <button>Submit</button>
</form>
